<div class="d-flex justify-center pb-12 pt-5">
    <img src="imgs/dima.png" alt="Controle financeiro" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>